@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Open+Sans:wght@400;600&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}


img{
    max-width: 100%;

}
h1{
    line-height: 4.3rem;
    font-size: 3rem;
    font-family: 'Lora', serif;
    font-weight: 600;
    color: #001A41;
}
p{
    line-height: 1.7rem;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
h2{
    font-size: 2.3rem;
    line-height: 3rem;
    letter-spacing: 2%;
    font-family: 'Open Sans', sans-serif;
}
.heroe{
    padding: 2rem;
    text-align: center;
}
.hero-img{
    margin-top: 2rem;
}
.container{
    background-color: #49C255;
    padding: 2rem;
}
.container-text{
    color:#fff;
}
.container-text h2{
    color: #fff;
}
.container-form{
    background-color: #fff;
    border-radius: 15px;
    padding: 2rem 1rem 2.75rem 1rem;
    margin-top: 2rem;
}
.container-form h2{
    color:#49C255;
}
.container-form p{
    color: #5D5F5B;
}
button{
    float: right;
    background-color: #49C255;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
}
input{
    width: 100%;
    border: 2px solid #767873;
    border-radius: 10px;
    padding: 1rem 0 1rem 3rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #767873;
}
textarea{
    width: 100%;
    border: 2px solid #767873;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #767873;

}
.input-icon i {
    position: absolute;
}
.input-icon {
    width: 100%;
    margin-bottom: 10px;
}
.container-icon{
    padding: 0;
    min-width: 50px;

}
.container-text p{
    padding-left: 3rem;
    padding-top: 1rem;
}
  
.icon {
    padding: 10px;
    color: #5D5F5B;
    min-width: 50px;   
}
@media screen and (min-width:560px){
    .row{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .hamburger{
        margin-top: 1rem;
    }
}

  
@media screen and (min-width:800px) {
    .nav-img{
        width: 5%;
    }
    .nav-log{
        display: none;
    }
  
    #icon{
        display: hidden;
    }
    .nav-list{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
    }
    .row{
        display: flex;
    }
    .col{
        width: 100%;
    }
    h1{
        font-size: 3.75rem;
    }
    h2{
        font-size: 2.5rem;
    }
    textarea{
        margin-bottom: 2rem;
    }
    .hero{
        padding: 10rem 6rem;
    }
    .hero-img{
        margin-left: 4rem;
    }
    .container{
        padding: 3rem 10rem;
    }
    .container-form{
        padding: 3rem 5rem;
    }
    .footer-list{
        width: 100%;
    }
    .footer-img{
       right: 0;
       width: 100%;
    }
    .footer-items li{
        padding-bottom: 2rem;
    }
    .apple{
        width: 40%;
        
    }
    .google-play{
        width: 45%;
    }
}